.sidebar {
    position: fixed;
    left: 0;
    top: 5rem;
    height: 100%;
    width: 78px;
    background: #fff;
    padding: 6px 14px;
    z-index: 10;
    margin-bottom: 60px;
    transition: all 0.3s ease;
    box-shadow: none;
}
.shadowCss{
    box-shadow: 0 0px 30px #8b8b8b5b;
}

.sidebar.open {
    width: 270px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    font-size: 12px;
}

.iconClose{
    display: none;
}

.tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.home-section {
    position: relative;
    background: #f2f2f2;
    min-height: 100vh;
    top: 0;
    left: 250px;
    width: calc(100% - 270px);
    transition: all 0.5s ease;
    z-index: 2;
}

.home-sectionOpen {
    left: 78px;
    transition: all 0.5s ease;
    width: calc(100% - 78px);
}

.home-section .text {
    display: inline-block;
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 1064px) {

    .sidebar.open{
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
 
    .home-section{
        left: 78px;
        width: calc(100% - 78px);
    }
    .home-sectionOpen {
        left: 78px;
        transition: all 0.5s ease;
        width: calc(100% - 78px);
    }
    .iconClose{
        display: block;
    }
    
}

@media (max-width: 720px){
    .sidebar{
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
       transform: translateX(-90px);
    }
    .home-section{
        left: 0;
        width: calc(100%);
    }
    .home-sectionOpen {
        left: 0;
        transition: all 0.5s ease;
        width: calc(100%);
    }
    .sidebar.open{
        transform: translateX(0px);
    }
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}