.NewResource{
    margin-top: 120px;
}

.TituloAgregarCurso{
    width: 90%;
}

.FormularioANR{
    width: 80%;
}

.ContenedorPrecio, .ContenedorFoto{
    width: 45%;
}

.AgregarClases{
    width: 100%;
    justify-content: center;

    .ContenedorInputs{
        width: 100%;
        justify-content: flex-start;
    }
}

.DynamicInput{
    width: 35%;
}

.marginButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1%;
}

.ContenedoresSelect{
    width: 50%;

    select{
        width: 90%;
        margin-left: 4%;
    }
}

@media only screen and (max-width: 768px) {
    .FormularioANR{
        width: 90%;
    }

    .ContenedoresSelect{
        width: 80%;
    
        select{
            width: 75%;
            margin-left: 4%;
        }
    }
}

@media only screen and (max-width: 680px) {
    .ContenedorPrecio, .ContenedorFoto{
        width: 80%;
    }

    .DynamicInput{
        width: 60%;
    }
}