*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	justify-content: flex-start;
}

.flex-column-center{
    display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.alert-error{
    width: 100%;
    background-color: $SArosa;
    color: white;
    border-radius: 1vw;
    padding: 2% 4%;
    font-size: 1vw;
}