@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

//Colors
$AzulTitulo: #24345F;
$GrisOscuro: #212121;

    //Paleta
    $SArosa: #DB255D; 
    $SAcelestePalido: #9CBCD9; 
    $SAazul: #024873; 
    $SAceleste: #0F7CBF; 
    $SAblancoHueso: #F2F2F2;

//Fonts
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;