
.iconI:hover .tooltip{opacity: 1;}

.iconF:hover .tooltip{opacity: 1;}

.iconA:hover .tooltip{opacity: 1;}

.iconL:hover .tooltip{opacity: 1;}

.iconP:hover .tooltip{opacity: 1;}

.iconR:hover .tooltip{opacity: 1;}