footer{
    margin-top: 5%;
    background-color: $GrisOscuro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    position: relative;
    z-index: 20;
    
    .footer__Logo{
        width: 20%;
    }

    .Enlaces{
        width: 45%;
        margin-top: 2%;

        .Enlace{
            color: lightgrey;
            font-family: $Montserrat;
            font-size: 1.4vw;
            transition: .2s;

            &:hover{
                color: white;
            }
        }
    }

    .SocialBar{
        width: 25%;
        margin: 2% 0;

        .media{
            width: 3.6vw;
            height: 3.6vw;
            font-size: 1.5vw;
            color: lightgrey;
            border: lightgrey solid 2px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s;

            &:hover{
                border: white solid 2px;
                color: white;
            }
        }
    }

    h1{
        font-size: 1.1vw;
        color: white;
        font-family: $Montserrat;
    }

    .RightsAndConditions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
    }
}

@media only screen and (max-width: 950px) {
    footer{
        padding: 3%;
        
        .footer__Logo{
            width: 25%;
        }
    
        .Enlaces{
            width: 55%;
    
            .Enlace{
                font-size: 2vw;
            }
        }
    
        .SocialBar{
            width: 30%;
    
            .media{
                width: 4.8vw;
                height: 4.8vw;
                font-size: 2.3vw;
            }
        }
    
        h1{
            font-size: 1.65vw;
        }

        .RightsAndConditions{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 700px) {
    footer{
        margin-top: 5%;
        padding: 4%;
        
        .footer__Logo{
            width: 30%;
        }
    
        .Enlaces{
            width: 70%;
            margin-top: 2%;
    
            .Enlace{
                font-size: 2.6vw;
            }
        }
    
        .SocialBar{
            width: 35%;
            margin: 2% 0;
    
            .media{
                width: 6vw;
                height: 6vw;
                font-size: 2.9vw;
                border: lightgrey solid 2px;
    
                &:hover{
                    border: white solid 2px;
                }
            }
        }
    
        h1{
            font-size: 2.3vw;
        }

        .RightsAndConditions{
            justify-content: center;
            width: 80%;
        }
    }
}

@media only screen and (max-width: 450px) {
    footer{
        margin-top: 5%;
        padding: 5%;
        
        .footer__Logo{
            width: 40%;
        }
    
        .Enlaces{
            width: 95%;
            margin-top: 4%;
    
            .Enlace{
                font-size: 3.5vw;
            }
        }
    
        .SocialBar{
            width: 50%;
            margin: 4% 0;
    
            .media{
                width: 9vw;
                height: 9vw;
                font-size: 4.5vw;
                border: lightgrey solid 2px;
    
                &:hover{
                    border: white solid 2px;
                }
            }
        }
    
        h1{
            font-size: 3vw;
        }
    }
}