.card__inner{
    width: 100%;
    height: 100%;
    transition: all ease .7s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped{
    border-radius: 20px;
    background-color: #fff;
    transform: rotateX(180deg);
}
.card__face{
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.face__card-back{
    border-radius: 20px;
    background-color: #fff;
    transform: rotateX(180deg);
}